[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
python-dotenv = "*"
ruff = "*"

[packages]
"gd2score" = {ref = "master", git = "https://github.com/brewerja/gd2score.git", editable = true}
gunicorn = "*"
flask = "*"
MLB-statsapi = "*"
flask-sslify = "*"
flask-compress = "*"
pytz = "*"

[requires]
python_version = "3.11"
