input.flatpickr {
    text-align: center;
}

svg {
    width: 100%;
    height: auto;
}

#scorecard {
    max-width: 600px;
}

g.runner {
    stroke: gray;
    fill: gray;
}

g.to-score {
    stroke: black;
    fill: black;
    stroke-width: 1.5;
}

rect {
    fill: none;
}

.team-box, .home-pitcher-hash, .away-pitcher-hash {
    stroke: gray;
    stroke-width: 0.4;
}

text {
    font-family: Arial;
    font-size: 10pt;
}

text.out {
    fill: red;
}

text.on-base {
    fill: green;
    font-weight: bold;
}

text.error {
    fill: orange;
}

