<!doctype html>
    <head>
        <title>Scorecard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
                integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
                crossorigin="anonymous"></script>
        <script type="text/javascript" src="/static/helper.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">
    </head>
    <body>
        <div id="content">
            <form data-current-game="{{ current_game }}" data-date="{{ date }}">
                <input class="flatpickr flatpickr-input active" type="text" placeholder="Select Date.." readonly="readonly">
                <select id="games">
                    {% for key, value in games.items() %}
                    <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
                <button id="refresh-button" title="Refresh Game" hidden type="button"><i class="fas fa-sync-alt"></i></button>
            </form>

            <div id="scorecard">{{ svg }}</div>
        </div>
    </body>
</html>
